:root{
    --base_color: #FFFFFF;
    --main_text: Hammersmith One;
    --logo_text: Baskervville SC;
    --hiking_color: rgb(226, 226, 96);
    --bg_color: #0B1D26;
}

*{
    padding: 0 ;
    margin: 0;
}

body{
    background-image: url(./images/BG.webp);

    background-size: 100%;
}
header{
    display: flex;
}
.logo{
    display: flex;
    font-family: var(--logo_text);
    color: var(--base_color);
    font-weight: normal;
    margin-right: 420px;
    margin-left: 60px;
    align-self: center;
    letter-spacing: 3px;
    
}
nav{
    flex-direction: row;
    align-self: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    
}
nav a{
    color: var(--base_color);
    text-decoration: none;
    font-family: var(--main_text);
}
.account{
    display: flex;
    align-self: center;
    height: 24px;
    margin-left: 450px;
    gap: 10px;
}
.account a{
    color: var(--base_color);
    text-decoration: none;
    font-family: var(--main_text);
}
.hero{
    color: var(--base_color);
    width: 950px;
    height: 200px;
    margin: 0 ;
    margin-left: 50ch;
    margin-top: 150px;
    margin-bottom: 940px;
}
.hiking{
color: var(--hiking_color);
display: flex;
}
.hiking_text{
    color: var(--hiking_color);
    letter-spacing: 6px;
}
.hero h2{
    font-size: 88px;
    font-family: var(--logo_font);
    font-weight: normal;
    margin: 0 auto;
}
.scroll{
    font-family: var(--main_text);
}
.artickes{
    background-color: var(--bg_color);
    margin: 0 auto;
    color: var(--base_color);
}
.level{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 150px;
    padding-bottom: 150px;
}
.level div{
    display: block;
    font-size: 30px;
}
.level img{
    margin-left: 75px;
}
.artickl_title{
    margin-bottom: 20px;
    font-size: 65px;
    font-family: var(--logo_text);
    font-weight: normal;
}
.artickl_text{
    font-size: 23px;
    font-family: var(--main_text);
    line-height: 32px;
}
.link{
    text-decoration: none;
    color: var(--hiking_color);
    font-size: 20px;
}
.level_reversed{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 150px;
    padding-bottom: 150px;
}
.level_reversed img{
    margin-right: 75px;
}
